@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    font-family: "Orbitron", sans-serif;
}

.h-bg {
    background-color: #212129;
}

.hero-bg {
    background: radial-gradient(circle at center, #1a1a2e, #0f0f1c);
    padding: 60px 0 0;
    position: relative;
    overflow: hidden;
    background-image: url('https://pixner.net/dooplo3/main-v2/assets/images/banner-index-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-p {
    font-size: 24px;
    line-height: 36px;
    margin-top: -7px;
}

.hero-sm-img {
    position: relative;
    width: 100%;
}

.dir {
    direction: rtl;
}

.pb-12 {
    padding-bottom: 120px;
    background: #212129;
}

.mt-30 {
    margin-top: -50px !important;
}

.single-box {
    padding: 25px;
    box-shadow: 0px 17px 12px rgba(44, 44, 77, 0.49);
}

.btn-ar {
    padding: 7px 22px;
    margin-right: 20px;
    background-color: #3d3b53;
    color: #9692bc;
    text-decoration: none;
    font-size: 18px;
    border-radius: 9px;
    font-weight: 700;
}

/* ------------------slider------------------ */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    color: white;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-s {
    font-size: 14px;
    font-family: "Barlow", sans-serif;
}

.hover-line:hover .slide-img {
    border: 2px solid rgb(255, 255, 103);
    transition: 1s all ease;
}

.slide-img {
    border-radius: 7px;
    border: transparent;
}

.bg-main {
    background-color: #060418;
}

.py-120 {
    padding-block: 120px !important;
}

.spacing:hover {
    text-decoration: underline;
    color: rgb(255, 230, 0) !important;
    cursor: pointer;
    transition: .6s all ease;
}

.slider-nw {
    border-radius: 10px;
    background: #1a1a22;
    margin-inline: 10px;
    border: 1px solid #2a2a49;
}

.live-text {
    border-radius: 9px;
    background-color: #ab1617;
    padding: 2px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.entry-text {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    background-color: #ffcc00;
    padding: 5px 37px;
    color: #060417;
    font-weight: 700;
    position: absolute;
    bottom: -25px;
    right: 0;
}

.bt-area {
    padding: 10px 30px 20px;
}

.text-green {
    color: #25be1b;
}

.be-area::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    left: calc(50% + 5px);
    background-color: #414159;
}

.md-text {
    font-size: 17px;
    line-height: 22px;
    border-radius: 5px;
    background: #313144;
    padding: 10px 0;
}

.cmn-btn {
    font-weight: 600;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #ffcc00;
    display: inline-block;
    font-size: 20px;
}

.play-bg {
    background-color: #191921;
}

.m-60 {
    margin-block: 60px;
}

.section-text {
    margin-bottom: 35px;
    text-align: center;
}

.section-text h2 {
    font-weight: 700;
    color: white;
    font-size: 57px;
    line-height: 71px;
    margin-top: -14px;
}

.bg-area {
    background-color: #060417;
}

.cus-mar {
    margin-top: -30px;
}

.cus-mart {
    margin-bottom: 35px;
}

.abs-area {
    position: absolute;
    display: flex;
    top: 30%;
    align-items: center;
    justify-content: center;
    width: 45px;
    min-height: 45px;
    border-radius: 50%;
    background-color: #ffcc00;
    color: #060417;
    font-weight: 900;
    left: -15px;
}

table {
    font-size: 18px;
}

.table-responsive {
    border-radius: 10px;
    background-color: #1a1a22;
    border: 1px solid #2a2a49;
    padding: 10px;
}

thead {
    background-color: #1a1a22;
}

tbody {
    background-color: #1a1a22 !important;
}

th {
    font-family: monospace !important;
    color: white !important;
    background-color: #1a1a22 !important;
}

tr {
    font-family: monospace !important;
    border-bottom: 1px solid #313144 !important;
    color: white !important;
    background-color: #1a1a22 !important;
}

td {
    font-family: monospace !important;
    color: white !important;
    background-color: #1a1a22 !important;
}

td span {
    font-family: monospace;
}

th span {
    font-family: monospace;
}

.acc-bg {
    background-color: #313144;
}

.form-bg-img {
    background-image: url('https://pixner.net/dooplo3/main-v2/assets/images/signup-signin-bg.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-color: transparent;
    z-index: 0;
}

.form-bg-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #191921 0%, rgba(25, 25, 33, 0.239) 100%);
    bottom: 0;
    z-index: -1;
}

.icon-rr {
    min-width: 86px;
    min-height: 86px;
    border-radius: 50%;
    background-color: #ffcc00;
}

.form-content {
    border-radius: 10px;
    background-color: #313144;
    padding: 40px 30px;
}

.color-sign {
    color: #ffcc00;
}

.form-input {
    padding: 10px 20px;
    color: white;
    width: 100%;
    font-family: "Barlow", sans-serif;
    outline-color: transparent;
    border-radius: 10px;
    background-color: #3c3c54;
    border: 1px solid #686485;
}

.form-input:focus {
    outline: none;
    border: 1px solid #ffcc00;
}

.cmn-btn {
    padding: 10px 25px;
    font-family: monospace;
    position: relative;
    align-items: center;
    z-index: 0;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.3s;
}